{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="well">
    <h3>Welcome to Reach Network setup</h3>
    <form action="" method="post" name="wifi">
        {{ form.hidden_tag() }}
        <div class="help-block">Please, choose your network SSID</div>
        {{ wtf.form_field(form.ssid) }}
        <div class="help-block">Enter the network key</div>
        {{ wtf.form_field(form.key) }}
        <input type="submit" name="submit_and_reboot" value="Submit & Reboot">
    </form>
</div>
{% endblock %}

